/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container_padre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    /*width: 50%;*/
    background-color: rgba(0, 0, 0, 0.829);
}


.pantalla_resultados{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid black ;
    border-radius: 15px;
    background-color: rgb(189, 183, 175);
    width: 50%;
    height: 25px;
    margin-top: 25px;
    
}

.botones{
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  margin-top: 25px;
  width: 250px;
  height: 250px;
  
}

button{
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: bisque;
}
